<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/filepond/filepond-plugin-image-preview.css" rel="stylesheet"/>
    <link href="/filepond/filepond.css" rel="stylesheet" />
    <script defer src="/filepond/filepond-plugin-file-encode.js"></script>
    <script defer src="/filepond/filepond-plugin-image-preview.js"></script>
    <script defer src="/filepond/filepond-plugin-image-resize.js"></script>
    <script defer src="/filepond/filepond.js"></script>
    <script defer src="/javascripts/fileUpload.js"></script>
    <title>Mybrary</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <%- include('../partials/errorMessage.ejs') %>
    <%- body %>
</body>
</html>